In [5]:
import pandas as pd  
import numpy as np

In [3]:
movies_col = ["movie_id", "title", "genres"]  
df = pd.read_csv("../ml-10M100K/movies.dat", sep="::", header=None, names=movies_col)

/var/folders/8x/f7l0kj057qx9_nym27s1dgc40000gn/T/ipykernel_91025/3402912045.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../ml-10M100K/movies.dat", sep="::", header=None, names=movies_col)

In [4]:
df

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10676,65088,Bedtime Stories (2008),Adventure|Children|Comedy
10677,65091,Manhattan Melodrama (1934),Crime|Drama|Romance
10678,65126,Choke (2008),Comedy|Drama
10679,65130,Revolutionary Road (2008),Drama|Romance
10680,65133,Blackadder Back & Forth (1999),Comedy

In [5]:
# 映画のメタデータを保存してある
# タイトル、ジャンル
df.genres = df.genres.apply(lambda x: x.split("|"))

In [6]:
df.head()

,movie_id,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [7]:
genre_set = set()
for genres_per_movie in df.genres:
    for genre in genres_per_movie:
        genre_set.add(genre)
print(genre_set)

{'Mystery', 'Action', 'War', 'Romance', 'IMAX', 'Animation', 'Comedy', '(no genres listed)', 'Children', 'Film-Noir', 'Horror', 'Western', 'Fantasy', 'Drama', 'Adventure', 'Crime', 'Musical', 'Documentary', 'Sci-Fi', 'Thriller'}

In [8]:
len(genre_set)

20

In [9]:
tags_col = ["user_id","movie_id", "tag", "timestamp"]
tags_df = pd.read_csv("../ml-10M100K/tags.dat", sep="::", header=None, names=tags_col)

/var/folders/8x/f7l0kj057qx9_nym27s1dgc40000gn/T/ipykernel_67532/807397946.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  tags_df = pd.read_csv("../ml-10M100K/tags.dat", sep="::", header=None, names=tags_col)

In [10]:
tags_df.head()

   user_id  movie_id              tag   timestamp
0       15      4973       excellent!  1215184630
1       20      1747         politics  1188263867
2       20      1747           satire  1188263867
3       20      2424  chick flick 212  1188263835
4       20      2424            hanks  1188263835

In [12]:
len(tags_df)

95580

In [13]:
# 映画に対して、ユーザが付与したタグ

In [14]:
rating_col = ["user_id", "movie_id", "rating", "timestamp"]
rating_df = pd.read_csv("../ml-10M100K/ratings.dat", sep="::", header=None, names=rating_col)

/var/folders/8x/f7l0kj057qx9_nym27s1dgc40000gn/T/ipykernel_67532/1475422093.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating_df = pd.read_csv("../ml-10M100K/ratings.dat", sep="::", header=None, names=rating_col)

In [16]:
# ユーザの映画の評価値.10,000,000あるため、重たい.
# 全てを使っていたら、分析に時間がかかる.
# そこで、ユーザ数を絞って、分析を行う.
user_ids = sorted(rating_df.user_id.unique())[:1500] # user_idが1500以下のユーザのみを使う
ratings = rating_df[rating_df.user_id.isin(user_ids)]

In [17]:
movie_df = pd.merge(ratings, df, on="movie_id") # outer join みたいな感じ

In [20]:
ratings.columns

Index(['user_id', 'movie_id', 'rating', 'timestamp'], dtype='object')

In [21]:
df.columns

Index(['movie_id', 'title', 'genres'], dtype='object')

In [18]:
movie_df.head()

   user_id  movie_id  rating   timestamp             title             genres
0        1       122     5.0   838985046  Boomerang (1992)  [Comedy, Romance]
1      139       122     3.0   974302621  Boomerang (1992)  [Comedy, Romance]
2      149       122     2.5  1112342322  Boomerang (1992)  [Comedy, Romance]
3      182       122     3.0   943458784  Boomerang (1992)  [Comedy, Romance]
4      215       122     4.5  1102493547  Boomerang (1992)  [Comedy, Romance]

In [19]:
len(ratings), len(movie_df),len(df)

(201157, 201157, 10681)

In [22]:
movie_df.groupby("user_id").count()

         movie_id  rating  timestamp  title  genres
user_id
1              22      22         22     22      22
2              20      20         20     20      20
3              33      33         33     33      33
4              38      38         38     38      38
5              87      87         87     87      87
...           ...     ...        ...    ...     ...
1570          118     118        118    118     118
1571          116     116        116    116     116
1572           28      28         28     28      28
1573          284     284        284    284     284
1574           32      32         32     32      32

[1500 rows x 5 columns]

In [30]:
movie_df.groupby("user_id").agg(["count"]) # このaggって何？ . このaggとか、groupbyとかは、頻出なんだろうけど、いまいちピンとこないぃ

        movie_id rating timestamp title genres
           count  count     count count  count
user_id
1             22     22        22    22     22
2             20     20        20    20     20
3             33     33        33    33     33
4             38     38        38    38     38
5             87     87        87    87     87
...          ...    ...       ...   ...    ...
1570         118    118       118   118    118
1571         116    116       116   116    116
1572          28     28        28    28     28
1573         284    284       284   284    284
1574          32     32        32    32     32

[1500 rows x 5 columns]

In [34]:
movie_df.groupby("movie_id").agg  ({"user_id":len}).agg({"user_id":[min,max,np.mean,len]  }) # 何人の人に評価されているか？

          user_id
min      1.000000
max    765.000000
mean    27.521822
len   7309.000000

In [6]:
# Precision, Recall
# 推薦したアイテムの中で、ユーザが好きなアイテムがいくつあるか: precision
# ユーザの好きなアイテムのうち何個推薦することができたか：Recall

In [9]:
import numpy as np
from typing import List
from sklearn.metrics import mean_squared_error


class Metrics:
    def __init__(self):
        pass
    
    def calc_rmse(self,true_rating:List[float],pred_rating:List[float]) -> float:
        return np.sqrt(mean_squared_error(true_rating,pred_rating))

In [11]:
Metrics().calc_rmse([1,1,1],[1,1,1])

0.0

In [12]:
pred = [1,2,5]
true = [4,1,3]
Metrics().calc_rmse(true,pred)

2.160246899469287

In [ ]:
# 4以上の評価がついたアイテムを好きなアイテムとする